
html,body,p,h1,h2,h3,u{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    list-style: none;    
} 

body{
    width: 100vw;
    height: 100vh;   
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
} 

h1{ 
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
    font-size: 40px;
    padding: 15px;
    color: rgb(15, 14, 14);
    box-shadow: 10px 10px 5px #aaaaaa;
} 

div.container{
    display: flex; 
    justify-content:space-around;
    height: 100%;
} 
/*------------------------------TORRE ------------------------------------*/        
div.container-towers{
    display: flex; 
    align-items:center;
    height: 70%; 
}

.tower1, .tower2,.tower3{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(58, 43, 43); 
    margin:40px;
    height: 300px; 
    width: 20px; 
    border-radius: 5px;
}

.tower1:hover {
    cursor: pointer;
    background-color: rgb(99, 39, 39);
    border-radius: 0.5rem;
    padding: 0.2rem;
} 
.tower2:hover {
    cursor: pointer;
    background-color: rgb(99, 39, 39);
    border-radius: 0.5rem;
    padding: 0.2rem;
} 
.tower3:hover{
    cursor: pointer;
    background-color: rgb(99, 39, 39);
    border-radius: 0.5rem;
    padding: 0.2rem;
}
/*------------------------------DISCOS------------------------------------*/  
.disc1{
    background-color: brown;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left: -40px;
    margin-top:2px;
    
} 
.disc2{
    background-color:green;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left: -30px;
    margin-top:2px;
} 
.disc3{
    background-color:rgb(156, 6, 156);
    height: 40px;
    width:60px;
    border-radius:5px;
    margin-left:-20px;   
    margin-top:2px; 
} 
.disc4{
    background-color:blue;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-left: -10px;  
    margin-top:2px;
} 

@media (min-width:800px) { 
    
h1{
font-size: 50px;
} 

div.container-towers {
width: 90%;
} 

.tower1, .tower2,.tower3{
    margin: 0 auto;
} 

.disc1{ width: 150px;} 
.disc2{ width: 120px;}
.disc3{width:90px;} 
.disc4{width: 40px;} 


}
